{% extends "base.html" %}
{% load static %}

{% block title %}Privacy | Proxmate Privacy Statement{% endblock %}
{% block bodyclass %} long-text {% endblock %}

{% block content %}

    <section class="grey">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Privacy Policy
                    </h1>

                    <div class="line line-center"></div>
                </div>
            </div>

        </div>
    </section>

    <section class="white text">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <p><b>17th October 2015</b></p>
                    <p>By agreeing to use this Website, our Proxmate software / plugin ("Proxmate Plugins") and its
                        related content and features - collectively referred to as the "Services", you expressly agree
                        to the terms provided by this Privacy Policy. This Privacy Policy is part of the Terms of Use of
                        the Website and any processing of personal data is subject to the provisions of this Privacy
                        Policy and of the Terms of Use.</p>

                    <p>We appreciate transparency and our users' privacy. This Privacy Policy contains relevant
                        information with respect to the use and disclosure of the personal data collected through the
                        Website. If you do not agree with this Privacy Policy, please leave the Website and do not
                        access or use the Website.</p>
                    <br/>

                    <h3>What Information We Collect From You?</h3> <br/>

                    <p>When you create your account on the Website the only personal data we collect is your email
                        address.</p>

                    <p>Additionally, we collect anonymous data related to the type of browser, browser version and
                        operating system that you use. Such data shall not enable us to identify you and shall be
                        gathered in a database for the purpose of being used for enhancing the services. For example
                        which browsers or operating systems we need to develop additional features or functions.</p>

                    <p>The Website does not use any 1st party cookies. There are 3rd party cookies (for example, for
                        Google analytics) that are used for statistical and analytical purposes. These 3rd party cookies
                        are not linked in anyway to your personal data.</p>

                    <p>All the information collected from you is hereinafter referred to as the "Data".</p>
                    <br/>

                    <h3>Whose Data We Collect?</h3> <br/>

                    <p>Our Website is not dedicated or intended for people under 18 years of age. If you are under 18
                        years old, please do not sign up on our Website and do not use our Services. If we have good
                        reasons to believe that you are under 18 years old we will take all necessary measures to deny
                        you access to our Services. If you are a parent of a child and you know that he/she has accessed
                        and uses our Website please contact us at <a href="mailto:privacy@proxmate.me">privacy@proxmate.com.</a></p>

                    <h3>Why Do We Collect Your Data?</h3> <br/>

                    <p>We will process the Data in order to improve and develop our Services and the Website. The Data
                        may also be used for legal compliance, such as fulfilling legal requirements in case of
                        liability, to investigate or to defend us from third parties' claims, to support legal
                        investigations of public authorities, to protect your rights and personal security. We will also
                        use your email addresses in order to inform you with respect to any changes to the Website or
                        other relevant similar information related to the Services.</p>

                    <p>When sending you commercial communication we will provide you with an easy and free of charge way
                        to unsubscribe from receiving such material. By choosing to unsubscribe we assure you that from
                        the moment we receive your choice to unsubscribe we shall limit the emails we send you to those
                        necessary for fulfilling the purposes of processing mentioned above.</p>

                    <p>We do not collect any personal data which is not relevant to our scope of processing and we make
                        sure that the Data is limited to the minimum necessary information to operate the Services. We
                        do not use your Data for any other purposes other the ones described in this Privacy Policy
                        except for when you have expressly consented to such processing.</p>
                    <br/>

                    <h3>How we store your data?</h3> <br/>

                    <p>We assure you that we do not store your Data for a period of time longer than necessary for
                        fulfilling the purposes for which we process your Data. We will delete any of your Data which is
                        no longer required for our purposes of processing or at your written request by contacting us at
                        <a href="mailto:privacy@proxmate.me">privacy@proxmate.com.</a></p>

                    <p>The servers where we store your Data are located in United Kingdom. We declare and guarantee that
                        we have implemented all technical and organizational measures in order to ensure the integrity
                        and security of your Data against any loss, destruction, theft or unauthorized access, use or
                        modification. All your Data is transferred to our secured servers. If we discover any abuse or
                        unauthorized attempt to access our Services we will inform you in order to take any necessary
                        measures.</p>
                    <br/>

                    <h3>How Does This Privacy Policy Apply to Other Websites?</h3><br/>

                    <p>Our Website provides you with links to other websites belonging to third-parties. This Privacy
                        Policy does not apply to such websites and it is only intended for the use of our Services.
                        Please make sure that you fully read the Privacy Policy of each and every website that you
                        access. We are not liable for any damages, which may arise from your non-compliance with the
                        obligation to read the Privacy Policy of the websites which you access.</p>
                    <br/>

                    <h3>Do We Share Your Data?</h3> <br/>

                    <p>Your Data will not be shared with any third parties save in the event we are solicited to do so
                        under applicable legislation, by decision of courts of law or any other mandatory decision
                        issued by competent public authorities.</p>
                    <br/>

                    <h3>What Rights Do You Have?</h3> <br/>

                    <p>Through this Privacy Policy we inform you with respect to the rights which are granted to you in
                        relation to your Data, such as:</p>
                    <ul>
                        <li>The right to be informed in a free of charge manner of how your Data are being processed;
                        </li>
                        <li>The right to access the Data;</li>
                        <li>The right to intervene over the Data, respectively to ask and obtain from in a free of
                            charge manner (i) the amendment, update, block or deletion of your Data which are not
                            processed in accordance with the applicable legal requirements or (ii) the anonymisation of
                            certain Data which are not processed in accordance with applicable legal requirements;
                        </li>
                        <li>The right to oppose to the processing of your Data;</li>
                        <li>The right to not be subject to an individual decision;</li>
                        <li>The right to address to competent courts of law or competent public authorities with respect
                            to the processing of your Data.
                        </li>
                    </ul>
                    <br/>

                    <h3>How Do You Exert Your Rights?</h3> <br/>

                    <p>In order to exert the right mentioned above with respect to the processing of your Data, you can
                        contact us with a written, dated and signed request at the following address
                        <a href="mailto:privacy@proxmate.me">privacy@proxmate.com.</a></p>
                    <br/>

                    <h3>Change to this Privacy Policy</h3> <br/>

                    <p>We may change or update this Privacy Policy at any time, at our sole discretion. Any changes or
                        updates of this Privacy Policy will apply for the future (starting with the new effective date
                        shown at the top of this Privacy Policy). Upon such changes or updates becoming effective, they
                        will be prompted to your attention by posting a brief notice on the Website. We advise that you
                        periodically check for any modifications to this Privacy Policy. By accessing our Website and
                        using our Services, you agree to both the Terms of Use and this Privacy Policy.</p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}