{% extends "base.html" %}
{% load static %}

{% block title %}Terms | Proxmate Terms of Service{% endblock %}
{% block bodyclass %} long-text {% endblock %}

{% block content %}

    <section class="grey">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Terms of Use
                    </h1>

                    <div class="line line-center"></div>
                </div>
            </div>

        </div>
    </section>

    <section class="white text">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <br/>
                    <p><b>17th October 2015</b></p>
                    <h3>General Information</h3> <br/> <br/>

                    <p><b>Proxmate</b> is a provider of proxy server services that are accessible via Proxmate browser
                        extensions (the &ldquo;Software&rdquo;) and are marketed on our website www.proxmate.me
                        (the &ldquo;Site&rdquo;), either together or separately called the &ldquo;Services&rdquo;. Our
                        Terms of Use and Privacy Policy apply to everybody who visits the Site (the &ldquo;Visitors&rdquo;)
                        and to everybody who downloads or uses the Software (&ldquo;Users&rdquo;). Our Terms of Use and
                        Privacy Policy apply to all Visitors and Users. Our Terms of Use (together with any other
                        documents referred to in it) regulate the use of Our Services as well as our liabilities and
                        rights.</p>

                    <p> Our Privacy Policy (together with any other documents referred to in it) discusses all
                        of the ways the Site and the Software operates in relation to their interaction with the
                        Visitors and Users.</p>

                    <p> Please read the Terms of Use and Privacy Policy carefully before you start
                        to use the Services.</p>.

                    <p> By using the Services you indicate that you accept our Privacy Policy and
                        Terms of Use and that you agree to abide by them. If you do not agree to these Terms of Use
                        or Privacy Policy, please refrain from using the Services.</p>

                    <p> If you have any questions regarding our
                        Terms of Use or Privacy Policy, you can contact us by email <a href="mailto:support@proxmate.me">support@proxmate.me</a></p>

                    <br/>

                    <h3>Changes to the Terms</h3> <br/>

                    <p>We may change or update these Terms at any time, at our sole discretion. Please check them
                        carefully and keep a copy of the version effective on the date you create your account and
                        sign up for our Services.</p>

                    <p> Any changes or updates of these Terms will apply for the future (starting with the new effective
                        date shown at the top of the Terms). Upon such changes or updates becoming effective, this will
                        be prompted to you by posting a brief notice on the Website. We advise that you periodically
                        check for any modifications to these Terms.</p>

                    <p>If you continue to use or access - in any way - the Service after we notify you on e-mail,
                        we will consider that you fully accept all such changes or updates.</p>

                    <br/>

                    <h3>Your use of our Services</h3> <br/>

                    <p>First of all, you may use our Services only if you:</p>
                    <ul>
                        <li>Are at least 18 years old;</li>
                        <li>Have full power and authority to enter into Agreement with us;</li>
                        <li>Are the owner or authorized administrator of the device on which you use the Services;
                        </li>
                        <li>Shall comply with the Terms;</li>
                        <li>Access and use the Services solely for personal and non-commercial purposes;</li>
                    </ul>
                    <p>Your use, access and benefit of the Services
                        are subject to your signing up of an account on the Website. We also have the right to
                        refuse or limit your access to our Services.</p>

                    <p>For signing up, you must insert your valid e-mail address(mandatory registration data). We
                        collect your e-mail address to create your user account as well as for technical support and
                        legal compliance. By entering your e-mail address you guarantee that you are authorized to
                        use such address and in case you change it, you will immediately notify us.</p>

                    <br/>

                    <h3>What is Proxmate &amp; What does it do?</h3> <br/>

                    <p>The Website is an intelligent proxy service which allows users the ability to sign up from a
                        standard web browser and use the Website's proxy services to access internet content.</p>

                    <p>A proxy server is another computer on the internet that acts as an intermediary between the
                        user and the server (or website) which the user requested the information from.</p>

                    <br/>

                    <h3>How does it work?</h3> <br/>

                    <p>The Website uses proxy servers located in numerous countries. Signing up for our Services
                        offers you access to these servers in order to view content.</p>

                    <p>When you sign up for our Services, you are provided with a single method to access our proxy
                        servers.</p>

                    <p>By installing a web browser plugin - a browser plugin is an extension or add-on to a web
                        browser such as Chrome, Firefox or Opera which provides users with additional or custom
                        functionality.</p>

                    <p>In the case of our Website, when you sign up and add or install the browser plugin, you
                        authenticate yourself on our Website as a valid user. Additionally, our plugin (which you
                        accepted to be installed in your web browser) provides you access to our proxy servers in
                        the requested country.</p>

                    <p>Our &ldquo;intelligent&rdquo; proxy services are only used when accessing specific content.
                        There is no need for the user to change any device settings.</p>

                    <p>Whilst using either our Free or Paid service you will be able to use the Proxmate plugin on
                        up to 5 Desktop or Laptop devices.</p>

                    <br/>

                    <h3>Privacy</h3> <br/>

                    <p>Please read carefully our <a href="/privacy">Privacy Policy</a> describing how we process
                        personal data.</p>

                    <p>The Website is controlled and provided through technical facilities located in The United
                        Kingdom. We do not guarantee that the Website is suitable or available for use in other
                        jurisdictions. You have the obligation to make sure that by accessing the Website and using
                        the Services you do not breach any legal provisions applicable in your country of origin.</p>

                    <br/>

                    <h3>Payment and Subscription Renewals</h3> <br/>

                    <p>You can use the free version of the Software for a limited
                        trial period. If you decide to purchase the Service you will be charged with our
                        then-current fees. Your account will be automatically renewed each month, quarter or year based
                        on which payment option you select until you notify us that you wish to terminate it. You can
                        unsubscribe from the service any time via the link in the Account section of the plugin or by
                        sending an
                        email to <a href="mailto:support@proxmate.me">support@proxmate.me</a>. We may use third party services to collect payment from you
                        and manage any payment procedure. Before using such third party services, we recommend that you
                        read and understand the applicable terms and conditions of such services and privacy policies
                        and
                        ensure that you agree to their terms. You acknowledge that we are not responsible for any third
                        party services or for the content or privacy practices of such third parties. You are knowingly
                        and voluntarily assume all risks of using such third party services.</p>

                    <br/>

                    <h3>Refunds</h3> <br/>

                    <p>If for any reason you are not happy with the subscription that you have purchased then we
                        offer a 7 day money back guarantee. If within 7 days of your purchase you notify us we will
                        offer you a full refund on the specific subscription you purchased at that time. In order to
                        apply for a full refund email <a href="mailto:support@proxmate.me">support@proxmate.me</a> within the first 7 days. Please note that we
                        do not offer any partial refunds if you decide to cancel your subscription after the first 7
                        days. At the time of your request to cancel after the initial 7 days your subscription will be
                        cancelled and the service will continue to work until the end of the current subscription
                        plan that you are on, monthly, quarterly or yearly.</p>

                    <br/>

                    <h3>User conduct on the Website</h3> <br/>

                    <p>If we enable you to create an account on our Website, you acknowledge that it is for your
                        personal use only and is non-transferable. You may use our Services only as allowed by these
                        Terms and applicable laws.</p>

                    <p>You are not allowed to: </p>
                    <ul>
                        <li>Interfere with or disrupt any of our Services
                            in any way or try to access them using a method other than the instructions given by us.
                        </li>
                        <li>Use our
                            Services in any manner that could damage, disable, overburden or impair our servers, nor
                            to
                            breach our security and systems.
                        </li>
                        <li> Try to get unauthorized access to any part of our Services or
                            to information for which you have not been granted access.
                        </li>
                        <li>Authorize or let any other person to
                            use in any way your account.
                        </li>
                        <li>Upload or post any user generated content.</li>
                        <li>Use the Services with
                            any other products to infringe other persons&rsquo; rights or applicable laws.
                        </li>
                        <li>Reproduce, copy,
                            sell, transfer, decompile, attempt to extract the source code, hack or use in any way
                            any of
                            our
                            Services or their components (including the Proxmate Plugins and any related
                            intellectual
                            property), without our prior written consent.
                        </li>
                        <li>Use another person's account on the Website and to
                            not pretend you are the user whose account you are using without permission, the
                            identity
                            theft
                            being punished according to the law.
                        </li>
                        <li> Introduce in the Website viruses, trojans, worms, logic
                            bombs or attack the Website via a denial-of-service attack or a distributed
                            denial-of-service
                            attack
                        </li>
                    </ul>

                    <p>You must:</p>

                    <p>Take reasonable care to keep your account confidential. You are fully responsible for the
                        activity which is performed under your account.</p>

                    <p>Notify us immediately of any apparent breach of
                        security related to your account (loss, theft or unauthorized use of your e-mail address).
                        Unless we are at fault, you are solely responsible for someone else who uses your account or
                        identity and for all activities that occur under your account (with or without your
                        knowledge).</p>

                    <p>We do not approve any comment, message, opinion, recommendation or advice which you may post
                        on
                        the Website. Therefore, we have the right to erase any content or material which is inserted
                        by
                        users without any prior notification in the event when we consider that such materials
                        breach
                        the Agreement (ie these Terms of Use and the Privacy Policy). If we discover that you have
                        tried
                        to access and use our Services in a manner non-compliant with these Terms we may block your
                        access to the Website and to our Services.</p>

                    <p>At our discretion, we may take any available measures to prevent or stop any breach of these
                        Terms.</p>

                    <br/>

                    <h3>Intellectual property</h3> <br/>

                    <p>Any and all Services and their components (Proxmate Plugins, software, domain names, design,
                        Website layout, interface, logos, trademarks, images, materials, content, etc., including
                        their
                        updates, upgrades, new versions, revisions, enhancements) are and will remain owned by us or
                        our
                        licensors or partners and are protected under applicable intellectual property laws.</p>

                    <p>In these Terms, Intellectual Property Rights refer to and are not limited to trademarks,
                        copyright, patents, designs, industrial models, whether registered or unregistered and
                        include
                        all applications and rights to apply for the same.</p>

                    <p>The use of our Website is granted to you solely and expressly for your personal and
                        non-commercial use and cannot be copied, reproduced, used, distributed, transferred,
                        exposed,
                        sold or licensed without a prior written consent from the owners of the Intellectual
                        Property
                        Rights.</p>

                    <p>While using our Services, we grant you a limited, non-exclusive, non-transferable,
                        non-assignable, revocable and royalty-free license to use our Proxmate related intellectual
                        property assets only for enjoying the use of the Services and always in accordance with
                        these
                        Terms. This license is solely and expressly for your personal and non-commercial use. We do
                        not
                        grant you any other right, title or interest in this respect.</p>

                    <p>As intellectual property rights stand as core to our business we value them to their full
                        extent
                        and potential. As such, we are appreciative of the intellectual property rights belonging to
                        third parties, respect them and we ask you to do the same. By expressing your consent to
                        these
                        Terms you agree to comply with the copyright laws and other laws protecting intellectual
                        property rights in connection with the content agreement you may become party to by your use
                        of
                        the Services.</p>

                    <br/>

                    <h3>Upgrades to the Services</h3> <br/>

                    <p>You understand and expressly accept that the Proxmate Plugins may at times not be fully
                        functional.</p>

                    <p>Although we cannot guarantee that the Website and the Services will be at all times
                        uninterrupted
                        or error-free, we are doing our best to constantly improving our Services.</p>

                    <p>At our sole discretion, we may upgrade, update, add or remove functionalities or features of
                        the
                        Services at any time and we may suspend or stop any Service. Also, we are entitled without
                        any
                        notice sent to you (and without any liability) to suspend the Website for repair,
                        maintenance,
                        improvement or other technical reason. And we reserve the right at our sole discretion to
                        modify
                        any of the Services, or any part of them (including names, trademark, design, etc.) and/or
                        to
                        cease offering our Services anytime and for any reason.</p>

                    <p>In the event when there is a server breakdown affecting the use of our Services, we may not
                        be
                        held liable for such occurrences and the prejudices which it may cause you.</p>

                    <br/>

                    <h3>Termination of account</h3> <br/>

                    <p>The Agreement between you and us enters into force on signing up your account and
                        implementing
                        one of the two ways to access our proxy servers (see above in Section &ldquo;How does it
                        work?&ldquo;).
                        It will remain in force until terminated by either you or us.</p>

                    <p>You may terminate your relationship with us at any time by deleting/deactivating your account
                        and
                        by uninstalling/removing the Proxmate Plugins from your devices. The Agreement will
                        terminate
                        within 5 calendar days following your account deletion/deactivation. If you later on change
                        your
                        mind, you may create a new account.</p>

                    <p>We may suspend, deactivate or terminate your use of the Services (including deleting your
                        account
                        and the information related to it) at any time and at our sole discretion - for example, if
                        you
                        breach these Terms, if applicable law or competent authorities require us or if we cease to
                        offer the Services. In such cases, you expressly accept that we will not be liable to you or
                        any
                        third party for taking such action.</p>

                    <p>Upon effective termination of the Agreement (by either you or by us), the license granted to
                        you
                        will automatically cease, you will stop using our Services and we will cease to collect any
                        of
                        your personal data as detailed in our Privacy Policy immediately. Any historical data will
                        continue to be stored for a maximum period of 6 months after which it will be erased from
                        our
                        operating systems.</p>

                    <br/>

                    <h3>Disclaimers</h3> <br/>

                    <p>We provide our Services (including the Proxmate Plugins) &ldquo;as
                        is&rdquo;. To the fullest extent permitted by the applicable law, we and our affiliates
                        exclude
                        any and all warranties, express, statutory or implied regarding the Services.</p>

                    <p>We cannot and in no event do we offer any guarantees related to our Services&rsquo;
                        availability,
                        functionality or their ability to fully meet your needs at all times. Also, we make no
                        warranties that the Services will at all times be error free, bug and viruses free, with no
                        interruptions or that errors will be fixed immediately or in due time.</p>

                    <p>You acknowledge and expressly agree that your use of our Services will always be at your sole
                        responsibility and voluntary risk.</p>

                    <br/>

                    <h3>External links</h3> <br/>

                    <p>Our Website links to other websites which may be of interest to you.</p>

                    <p>We do not guarantee, recommend or endorse in any way such hyperlinked websites or their
                        content
                        and services. We are not legally responsible for them. You expressly accept that you always
                        use
                        them at your own voluntary risk (including their applicable terms and privacy practices
                        which we
                        recommend you should read and understand to make sure that you agree to them). Once you
                        access
                        the websites provided by our Website you enter an agreement with them and we are not liable
                        for
                        the content or services provided by such websites. We do not act in the name or on behalf of
                        the
                        websites accessed via our Services.</p>

                    <p>By accepting these Terms, you acknowledge that the websites that you access may have a set of
                        terms of use providing that their content is prohibited in certain countries or geographical
                        areas. You should review any existing policy of such websites belonging to third parties and
                        by
                        accepting them and use their services you agree with their provisions. You are expressly
                        responsible for complying with the provisions of such policies and we shall not be held
                        liable
                        for your accessing such third websites neither by you nor by such third websites.</p>

                    <p>We do not
                        monitor or check for accuracy the content of the websites to which you access via our
                        Services
                        with links and we are not liable to the term of use of the respective websites.</p>

                    <br/>

                    <h3>Limitation of our liability</h3> <br/>

                    <p>You should use our Services only in compliance with applicable laws
                        and you undertake and represent to use them accordingly.</p>

                    <p>Neither we, nor our employees, agents or affiliates shall be held liable for any damages
                        arising
                        directly from any:</p>
                    <ul>
                        <li>Errors, mistakes, omissions or lack of content accuracy;</li>
                        <li>Use of the Website and of the Services;</li>
                        <li>Interruption or end of transmission of the Website;</li>
                        <li>Errors, viruses, trojans or any other
                            similar elements which may be transmitted by or through our Website by a third party;
                        </li>
                        <li>Unauthorized access to your account or to your device;</li>
                        <li>Content, material, advertising or other
                            information offered on the Website by third parties;
                        </li>
                    </ul>

                    <p>To the fullest extent permitted by law, in no event will we or any other person who has been
                        involved in the creation, development, production, marketing or offering of our Services be
                        liable to you or any other party for any indirect, incidental or consequential damages
                        (including, without limitation, loss of data or for inability to use the Services). In no
                        event
                        will our aggregate liability to you and any other party, whether direct or indirect,
                        exceed &pound;100 GBP for any and all claims or damages, except for damages arising from
                        actions
                        committed with criminal intention or gross negligence.</p>

                    <br/>

                    <h3>Indemnity</h3> <br/>

                    <p> You agree to indemnify, defend and hold us, our subsidiaries, parent company and
                        affiliates, partners and all of their respective officers, directors, owners, employees,
                        agents,
                        attorneys, representatives, harmless from and against any and all liabilities, losses,
                        expenses,
                        damages and costs (including reasonable attorneys' fees), incurred by any of the above
                        persons
                        in connection with: any claim arising out of your use of the Services, any use or alleged
                        use of
                        your account or your password by any third party (whether or not authorized by you), your
                        breach
                        of these Terms or of the rights of any other person.</p>

                    <br/>

                    <h3>Other clauses</h3> <br/>

                    <p> All our rights and obligations herein may be assigned by us in connection with a
                        merger, acquisition, sale of assets or otherwise, in whole or in part. You may not assign or
                        sublicense your rights herein.</p>

                    <p>The Agreement and the relationship between you and us will be governed by and construed in
                        accordance with the laws of England and Wales. Any dispute arising out of or relating to
                        these
                        Terms or your use of, or inability to use, the Services will be settled by the competent
                        courts
                        in England and Wales. Notwithstanding the foregoing, we may seek injunctive relief in any
                        court
                        of competent jurisdiction.</p>

                    <p>If any clause herein is found by a competent court to be unenforceable, the remaining clauses
                        will remain in full force and effect.</p>

                    <p><b>Your acceptance</b></p>

                    <p><b>Use of our Services implies express acceptance of both these Terms and of the Privacy
                        Policy
                        (collectively, the Agreement). Please read them carefully before signing up!</b></p>

                    <p><b>Do not sign up your account if you disagree with any of their provisions. </b></p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}