{% extends "base.html" %}
{% load static %}

{% block title %}Unsubscribe - {% endblock %}
{% block bodyclass %} post-install {% endblock %}

{% block content %}
    <section class="post-install grey">
        <div class="container step1">
            <h2>Oh No!<br/>We're sorry to see you go....</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                    <p class="feedback">
                        If you're sure you'd like to cancel your subscription,<br/>
                        click on the link below
                    </p>

                    <p class="feedback">
                        <input type="submit" class="btn btn-red cancel-subscription" value="CANCEL SUBSCRIPTION"/>
                    </p>


                </div>
            </div>
        </div>

        <div class="container step2" style="display: none;">
            <h2>Your subscription<br/>has now been cancelled</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <p class="feedback">
                        Thanks for using Proxmate and if you change your mind we'd love to have you back!
                    </p>

                    <p class="feedback">
                        <a href="/pricing" class="btn btn-cta">Subscribe to Proxmate</a>
                    </p>

                    <p class="feedback">
                        If you have any comments or feedback that might help improve our service, we'd love to hear from
                        you!
                    </p>

                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your e-mail"
                                   name="generic-feedback-email"/>
                        </div>
                        <div class="form-group">
                            <textarea name="generic-feedback-comment" class="form-control" rows="5"
                                      placeholder="Your comment"></textarea>
                        </div>
                        <input type="submit" data-category="unsubscribe"
                               class="generic-feedback-input btn btn-amber pull-right" value="SEND"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="container large-image">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{% static "img/illustrations/goodbye.svg" %}"/>
                </div>
            </div>
        </div>

    </section>


    <div class="modal fade in transactional-modal" id="feedback_success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title emphasize">Feedback sent!</h4>
                    <!--
                        <h4 class="modal-title emphasize">Proxmate is now activated</h4>
                    -->
                </div>
                <!-- Just use the modal body you need for your needed transactional message and disregard the others -->
                <div class="modal-body">
                    <div class="row feedback">
                        <div class="col-sm-4 success"></div>
                        <!--
                            <div class="col-sm-4 error"></div>
                            <div class="col-sm-8 text">
                                <p>Please choose a subscription plan to continue using ProxMate</p>
                            </div>
                        -->
                        <div class="col-sm-8 text">
                            <p>
                                Your feedback has been sent!
                                </br></br>
                                Enjoy!</br>
                                The Proxmate team.
                                </br>
                                <img src="{% static "img/signature-team.png" %}" alt="The Proxmate Team"/>

                            </p>

                            <p>

                            <div class="row">
                                <div class="col-md-12 cta-wrapper">
                                    <a href="#" class="btn btn-lg btn-cta" data-dismiss="modal" aria-label="Close">
                                        Go back
                                    </a>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in transactional-modal" id="unsubscribe-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title emphasize">Confirm Unsubscription</h4>
                </div>
                <!-- Just use the modal body you need for your needed transactional message and disregard the others -->
                <div class="modal-body">
                    <div class="row feedback">
                        <div class="text-center row">
                            Are you sure you want to unsubscribe?
                        </div>
                        <br><br>

                        <div class="text-center row">
                            <a href="#" data-key="{{ unsubscribe_key }}" class="unsubscribe-confirm btn btn-lg btn-cta">
                                Yes
                            </a>
                            <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-lg btn-cta">
                                No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}